h1,
h2,
h4,
p {
  font-family: "Nunito", sans-serif;
  margin-bottom: 0;
  color: #334253;
}

h3 {
  font-family: "Nunito", sans-serif;
  margin-bottom: 2;
  color: #334253;
}

.table::-webkit-scrollbar {
  display: none;
}

.legend p {
  display: inline-block;
}

.header {
  justify-content: space-between;
  display: flex;
  /* float: right; */
}

.main-info {
  /* margin-top: 10; */
}
