h1,
h2,
h4,
p {
  font-family: "Nunito", sans-serif;
  margin-top: 4;
  margin-bottom: 0;
  color: #334253;
}

h3 {
  font-family: "Nunito", sans-serif;
  margin-bottom: 2;
  color: #334253;
}

.legend p {
  margin-top: 1;
  display: inline-block;
  margin-right: 4;
}

.header {
  justify-content: space-between;
  display: flex;
}

/* .cards {
  max-height: 83vh;
  overflow: scroll;
}
.cards::-webkit-scrollbar {
  display: none;
} */
